# secrets

# common

mysql_root_password: REDACTED
mail_root_username: USER@REDACTED.DOMAIN
mail_root_password: REDACTED


# redmine

redmine_domain_local: SUBDOMAIN.REDACTED.local
redmine_domain: SUBDOMAIN.REDACTED.DOMAIN
redmine_mysql_host: localhost
redmine_mysql_port: 3306
redmine_mysql_database: REDACTED
redmine_mysql_username: REDACTED
redmine_mysql_password: REDACTED
redmine_smtp_address: mail.REDACTED.DOMAIN
redmine_smtp_port: 587
redmine_smtp_domain: SUBDOMAIN.REDACTED.DOMAIN
redmine_smtp_username: noreply@REDACTED.DOMAIN
redmine_smtp_password: REDACTED
redmine_admin_username: REDACTED
redmine_admin_password: REDACTED


# mattermost

mm_domain_local: SUBDOMAIN.REDACTED.DOMAIN
mm_domain_old: SUBDOMAIN.REDACTED.DOMAIN
mm_domain: SUBDOMAIN.REDACTED.DOMAIN
mm_site_url: https://SUBDOMAIN.REDACTED.DOMAIN
mm_site_name: REDACTED
mm_mysql_password: REDACTED
mm_publiclinksalt: REDACTED
mm_invitesalt: REDACTED
mm_passwordresetsalt: REDACTED
mm_atrestencryptkey: REDACTED
mm_smtp_address: mail.REDACTED.DOMAIN
mm_smtp_port: 587
mm_smtp_security: STARTTLS
mm_smtp_username: noreply@REDACTED.DOMAIN
mm_smtp_password: REDACTED
