production:
  adapter: mysql2
  host: {{ redmine_mysql_host }}
  port: {{ redmine_mysql_port }}
  database: {{ redmine_mysql_database }}
  username: {{ redmine_mysql_username }}
  password: {{ redmine_mysql_password }}
  encoding: utf8
