upstream redmine  { server 127.0.0.1:{{ unicorn_port }} fail_timeout=0; }

server {
    server_name  {{ redmine_domain }} {{ redmine_domain_local }};
    listen   80;
    root  /usr/share/redmine/public;
    location  / {
        rewrite ^ https://{{ redmine_domain }}$request_uri permanent;
    }
}

server {
    server_name  {{ redmine_domain }} {{ redmine_domain_local }};
    listen   443 ssl;

    ssl_certificate     /etc/letsencrypt/live/{{ redmine_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ redmine_domain }}/privkey.pem;

    access_log  /var/log/nginx/{{ redmine_domain }}.log;
    error_log   /var/log/nginx/{{ redmine_domain }}.err;
    client_max_body_size  15m;
    server_tokens  off;
    autoindex  off;
    root  /usr/share/redmine/public;
    index  index.html index.htm;

    error_page  404  /404.html;
    error_page  500 502 503 504  /50x.html;
    location = /404.html {
        root  {{ www_root }};
    }
    location = /50x.html {
        root  {{ www_root }};
    }

    location /.well-known/acme-challenge {
        root {{ www_root }}/letsencrypt;
    }

    #rewrite  ^/$   /redmine/  permanent;
    location / {
        try_files  $uri/index.html $uri.html $uri @redmine;
    }
    location @redmine {
        proxy_set_header  X-Real-IP        $remote_addr;
        proxy_set_header  X-Forwarded-For  $proxy_add_x_forwarded_for;
        proxy_set_header  Host             $http_host;
        proxy_redirect    off;
        proxy_pass        http://redmine;
    }
}
