[Unit]
Description=Redmine

[Service]
Type=forking
TimeoutStartSec=30
#TimeoutStopSec=30
ExecStart=/etc/init.d/redmine_default start
ExecStop=/etc/init.d/redmine_default stop
ExecReload=/etc/init.d/redmine_default restart
Restart=on-failure

[Install]
WantedBy=multi-user.target