# Nginx config for Mattermost

upstream mattermost  {
    server 127.0.0.1:{{ mm_port }} fail_timeout=0;
}

# http
server {
    server_name  {{ mm_domain }} {{ mm_domain_local }};
    listen   80;
    root  /var/www/html;
    location  / {
        rewrite ^ https://{{ mm_domain }}$request_uri permanent;
    }
}

# redirect old domain
server {
    server_name  {{ mm_domain_old }};
    listen   80;
    root  /var/www/html;
    location  / {
        rewrite ^ https://{{ mm_domain }}$request_uri permanent;
    }
}

# https
server {
    server_name  {{ mm_domain }} {{ mm_domain_local }};
    listen   443 ssl;

    ssl_certificate     /etc/letsencrypt/live/{{ mm_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ mm_domain }}/privkey.pem;

    access_log  /var/log/nginx/{{ mm_domain }}.log;
    error_log   /var/log/nginx/{{ mm_domain }}.err;
    client_max_body_size  15m;
    server_tokens  off;
    autoindex  off;
    root  /var/www/html;
    index  index.html index.htm;

    error_page  404  /404.html;
    error_page  500 502 503 504  /50x.html;
    location = /404.html {
        root  {{ www_root }};
    }
    location = /50x.html {
        root  {{ www_root }};
    }

    location /.well-known/acme-challenge {
        root {{ www_root }}/letsencrypt;
    }

    location / {
        client_max_body_size 50M;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Frame-Options SAMEORIGIN;
        proxy_pass http://mattermost;
    }

}
